<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net40" />
  <package id="Mono.Posix" version="4.0.0.0" targetFramework="net40" />
  <package id="Nancy" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Bootstrappers.Autofac" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="0.23.2" targetFramework="net40" />
  <package id="NEventStore" version="5.1.0" targetFramework="net40" />
  <package id="NEventStore.Persistence.MongoDB" version="5.0.0.103" targetFramework="net40" />
  <package id="Node.js" version="0.10.33" targetFramework="net45" />
  <package id="RequireJS" version="2.1.15" targetFramework="net45" />
</packages>